<div id="<%= dom_id channel %>">
  <p>
    <strong>Title:</strong>
    <%= channel.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= channel.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= channel.link %>
  </p>

  <p>
    <strong>Xml link:</strong>
    <%= channel.xml_link %>
  </p>

  <p>
    <strong>Fetched at:</strong>
    <%= channel.fetched_at %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= channel.category_id %>
  </p>

</div>
