<div id="<%= dom_id item %>">
  <p>
    <strong>Title:</strong>
    <%= item.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= item.content %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= item.link %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= item.published_at %>
  </p>

  <p>
    <strong>Read at:</strong>
    <%= item.read_at %>
  </p>

</div>
