<!DOCTYPE html>
<html>
  <head>
    <title>RailsRuby3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav>
      <%= link_to "Items", items_path %>
      <%= link_to "Categories", categories_path %>
      <%= link_to "Channels", channels_path %>
    </nav>
    <%= yield %>
  </body>
</html>
